{% extends "base.html.twig" %}

{% block body %}
    <div class="container main-content">
        <div class="row">
            <h1 class="mb-4">Home</h1>
            <p class="lead"><i class="fa-solid fa-person-digging"></i> This website is under construction.</p>
        </div>
    </div>
{% endblock %}