{% extends "base.html.twig" %}

{% block body %}
    <h1>My Product:</h1><br />
    <ul>
        <li>Item No#: {{ product.itemNo}}</li>
        <li>SerialNo#: {{product.sid}}</li>
        <li>Title: {{ product.title }}</li>
        <li>Description: {{ product.description }}</li>
    </ul>
    {% if isInvoiceProcessed == true %}
        <br>
        <p>Customer invoice has bees processed.</p>
    {% endif %}
{% endblock %}